body {
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
}

img {
  width: 100%;
  max-width: 800px;
  margin: auto;
  display: block;
}

.ql-align-right {
  text-align: right;
}

.ql-align-center {
  text-align: center;
}

.ql-align-left {
  text-align: left;
}
